:root {
    --color-primary: lightgray;
    --color-secondary: #FFF;
    --color-linear: linear-gradient(90deg, rgb(41, 205, 246), white);
    --default-font: sans-serif;
    --default-margin: 1rem;
    --default-padding: 1rem;
    --default-bradius: .5rem;
    --default-shadow: .2rem .2rem .2rem rgba(0,0,0,0.2);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: var(--color-linear);
    font-family: var(--default-font);
}